.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Pour occuper au moins toute la hauteur de la vue */
    background-color: #f0f0f0; /* Couleur de fond pour le démo, à ajuster selon vos besoins */
}

